
/* ------------------ */

.wrapper{
  height: 667px;
  margin: 0 auto;
  background-size: cover;
  background-image: url(../images/football-field.jpg);
  text-align: center;
}
.container{
  max-width: 1100px;
  padding: 0px 50px;
  margin: 0 auto;
}
.players{
  width: 900px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  padding-top: 142px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.player{
  display: flex;
  flex-direction: column;
}
.player img{
  height: 100px;
  width: 100px;
  
}
.podium{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100px;
}
.p1{
  height: 200px;
  background-color: rgb(160, 22, 214);
  opacity: 0.5;
  animation: step-mowe1 10s linear infinite;
}
.p2{
  height: 150px;
  background-color: rgb(241, 8, 8);
  opacity: 0.5;
  animation: step-mowe2 10s linear infinite;
}
.p3{
  height: 100px;
  background-color: rgb(216, 152, 33);
  opacity: 0.5;
}
.p4{
  height: 50px;
  background-color: rgb(110, 18, 231);
  opacity: 0.5;
  animation: step-mowe4 10s linear infinite;
}
.p5{
  height: 0px;
  background-color: rgb(53, 34, 231);
  opacity: 0.5;
  animation: step-mowe5 10s linear infinite;
}



.ball img{
  height: 50px;
  width: 50px;
  border-radius: 100px;
  animation: spin 5s linear infinite;
}
.ball{
  position: absolute;
  animation: ball 10s linear infinite;
}

@keyframes ball{
  
  /* st1 */
  0%{
    bottom: 310px;
    left: 250px;
  }
  3%{
    bottom: 330px;
    left: 300px;
  }
  6%{
    bottom: 335px;
    left: 350px;
  }
  9%{
    bottom: 310px;
    left: 400px;
  }
  /* st2 */
  12%{
    bottom: 260px;
    left: 450px;
  }
  15%{
    bottom: 280px;
    left: 500px;
  }
  18%{
    bottom: 285px;
    left: 550px;
  }
  21%{
    bottom: 260px;
    left: 600px;
  }
  /* st3 */
  24%{
    bottom: 210px;
    left: 650px
  }
  27%{
    bottom: 230px;
    left: 700px;
  }
  30%{
    bottom: 235px;
    left: 750px;
  }
  33%{
    bottom: 210px;
    left: 800px;
  }
  /* st4 */
  36%{
    bottom: 160px;
    left: 850px;
  }
  39%{
    bottom: 180px;
    left: 900px;
  }
  42%{
    bottom: 185px;
    left: 950px;
  }
  45%{
    bottom: 160px;
    left: 1000px;
  }
  
  /* st5 */
  48%{
    bottom: 110px;
    left: 1050px;
  }

   /* st1 */
  51%{
    bottom: 310px;
    left: 1050px;
  }
  54%{
    bottom: 330px;
    left: 1000px;
  }
  57%{
    bottom: 335px;
    left: 950px;
  }
  60%{
    bottom: 310px;
    left: 900px;
  }
  /* st2 */
  63%{
    bottom: 260px;
    left: 850px;
  }
  66%{
    bottom: 280px;
    left: 800px;
  }
  69%{
    bottom: 285px;
    left: 750px;
  }
  72%{
    bottom: 260px;
    left: 700px;
  }
  /* st3 */
  75%{
    bottom: 210px;
    left: 650px
  }
  78%{
    bottom: 230px;
    left: 600px;
  }
  81%{
    bottom: 235px;
    left: 550px;
  }
  84%{
    bottom: 210px;
    left: 500px;
  }
  /* st4 */
  87%{
    bottom: 160px;
    left: 450px;
  }
  90%{
    bottom: 180px;
    left: 400px;
  }
  93%{
    bottom: 185px;
    left: 350px;
  }
  96%{
    bottom: 160px;
    left: 300px;
  }
  99%{
    bottom: 110px;
    left: 250px;
  }
  100%{
    bottom: 310px;
    left: 250px;
  }
  
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  @keyframes step-mowe1 {
    49% {
      height: 200px;
    }
    50% {
      height: 0px;
    }
    99% {
      height: 0px;
    }
    100% {
      height: 200px;
    }
  }
  @keyframes step-mowe2 {
    49% {
      height: 150px;
    }
    50% {
      height: 50px;
    }
    99% {
      height: 50px;
    }
    100% {
      height: 150px;
    }
  }
  @keyframes step-mowe4 {
    49% {
      height: 50px;
    }
    50% {
      height: 150px;
    }
    99% {
      height: 150px;
    }
    100% {
      height: 50px;
    }
  }
  @keyframes step-mowe5 {
    49% {
      height: 0px;
    }
    51% {
      height: 200px;
    }
    99% {
      height: 200px;
    }
    100% {
      height: 0px;
    }
  }

  #preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 1001;
  }
  
  .preloader__clock {
    position: relative;
    top: 10%;
    left: 30%;
    width: 500px;
    height: 500px;
    text-align: center;
  }
  
  .preloader__arrow {
    border-radius: 100px;
    position: absolute;
    display: inline-block;
    top: 38%;
    left: 43.5%;
    width: 150px;
    height: 150px;
    animation: preloader-rotate 60s infinite linear;
  }
  
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }

  
